<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
        {% if title %}
        <title> {{ title }} - DPA</title>
        {% else %}
        <title>Design & Project Archive</title>
        {% endif %}
		<meta name="description" content="캡스톤디자인" />
		<meta name="keywords" content="캡스톤디자인" />
		<meta name="author" content="hyeonukdev" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<!-- user-scalable 을 사용하지 않는 디바이스를 위해, maximun-scale/minimum-scale 설정을 하는 것입니다-->
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- 일반적인 fabicon 설정 -->
		<link rel="icon" href="img/fun-coding.ico" />
		<!-- 아이폰용 fabicon 설정 -->
		<link rel="apple-touch-icon" href="img/fun-coding.ico" />
		<!-- 인터넷 익스플러오용 fabicon 설정-->
		<link rel="short icon" type="image/x-icon" href="img/fun-coding.ico" />

		<!-- CSS Reset(1), 아이콘 폰트, 웹페이지 사용폰트, style.css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nomalize.css') }}">
		<!-- https://fontawesome.com/start -->
		<script src="https://kit.fontawesome.com/f1def33959.js" crossorigin="anonymous"></script>
		<!-- Spoca Han Sans Neo: https://spoqa.github.io/spoqa-han-sans/ko-KR/ -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/spoqa-han-sans/neo/css/SpoqaHanSans-kr.min.css" rel="stylesheet" type="text/css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


	</head>
	<body>
		<header>
			<div class="inner">
				<div class="head-container">
					<div class="head-brand"><a href="{{ url_for('main.home')}}">캡스톤디자인</a></div>
					<div class="head-blog">
						<a href="#" style="padding-right: 20px; color: #f20505" >TEST</a>
                        {% if current_user.is_anonymous %}
						<a class="navigation-link" href="{{ url_for('users.login')}}">Login</a>
						<a class="navigation-link" href="{{ url_for('users.register')}}">Register</a>
						{% else %}
						<a class="navigation-link" href="{{ url_for('main.upload')}}">Upload</a>
						<a class="navigation-link" href="{{ url_for('users.account')}}">{{ current_user.user_name}}</a>
						<a class="navigation-link" href="{{ url_for('users.logout')}}">Logout</a>
						{% endif %}
					</div>
				</div>
			</div>
		</header>

        <!-- Flashed Message Display -->
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div style="width:30%; margin-left: 35%; text-align: center;" class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Contents -->
        {% block content %}{% endblock %}

		<footer>
			<div class="inner">
				<div class="footer-message">캡스톤디자인</div>
				<div class="footer-contact">lego7407@naver.com</div>
				<div class="footer-copyright">Copyright 2021 © All rights reserved.</div>
			</div>
		</footer>
		<a id="backtotop"></a>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>